<div class="post media">
  {% if user.is_authenticated and note.user == user %}
  <!-- <h3>{{note.message_html|safe}}</h3> -->
  <div class="wrapper clearfix">
    <aside class="note-wrap note-yellow">
      <h3>{{note.title}}</h3>
      <br>
      <h4>{{note.message}}</h4>



  <div class="media-body">
    <!-- <strong>{{post.user.username}}</strong> -->
    <h5 class="media-heading">
    <span class="username">
      <a href="{% url 'for_user' username=note.user.username %}">Current User: {{note.user.username}}</a>
    </span>
    <time class="time">
      <a href="{% url 'single' username=note.user.username pk=note.pk %}">
        {{note.created_at}}
      </a>
    </time>
    </h5>
    <div class="media-footer">

        <a href="{% url 'delete' pk=note.pk %}" title="delete" class="btn btn-simple" >
          <span class="glyphicon glyphicon-remove text-danger" aria-hidden='true'></span>
          <span class="text-danger icon-label">Delete</span>
        </a>
      {% else %}
      <h1>Log in for your notes</h1>
      {% endif %}
</div>
<!-- Above /div is for the note wrapper -->
    </div>
  </div>
</div>
