{% extends "storageApp/note_base.html" %}

{% block note_content %}
<h3>Delete this note?</h3>
<div class="wrapper clearfix">
  <aside class="note-wrap note-yellow">
<div class="posts">
  <h3>{{note.title}}</h3>
  <h4>{{note.message}}</h4>
  {{note.created_at}}
</div>  
</div>
<form method="post">
  {% csrf_token %}
  <input type="submit" value="Confirm Delete" class="btn btn-danger btn-large" >
  <a class="btn btn-simple btn-large btn-default" href="{% url 'single' username=user.username pk=object.pk %}">Cancel
  </a>

</form>

{% endblock %}
