<!DOCTYPE html>
{% load staticfiles %}
<!-- Codepen Site: https://codepen.io/edbond88/pen/CcgvA -->
<html>
  <head>
    <meta charset="utf-8">
    <title>Amazing Notes</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'NotesProject/css/master.css'%}">
    <!-- Adding a test style... -->
    <link href="http://codepen.io/edbond88/pen/CcgvA.css" media="screen" rel="stylesheet" type="text/css">
    <style>
                body {<br />
                  background: rgba(222,222,222,1);<br />
                  margin: 20px;<br />
                }<br />
                </style>
  </head>


  <body>
    <nav class="navbar  mynav" role="navigation" id="navbar">
          <div class="container">

            <a class="navbar-brand mynav" href="{% url 'home' %}">AwesomeNotes</a>

              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                      <li><a href="{% url 'create' %}" class="btn btn-simple">New</a></li>
                      <li><a href="{% url 'for_user' username=user.username %}" class="btn btn-simple">Notes</a></li>
                      <li><a href="{% url 'logout' %}" class="btn btn-simple">Log out</a></li>
                {% else %}
                      <li><a href="{% url 'login' %}" class="btn btn-simple">Log in</a></li>
                      <li><a href="{% url 'signup' %}" class="btn btn-simple">Sign up</a></li>
                {% endif %}
              </ul>


          </div>
        </nav>


        <div class="container mycontent">
          {% block content %}

          {% endblock %}

        </div>



<canvas id="canvas"></canvas>



  </body>
  <script src="{% static "NotesProject/js/master.js"%}" type="text/javascript" ></script>
</html>
